/* :root {
  fonts */
/* --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif; */

/*text colors*/
/* --main-txt-cl: #212121;
  --acent-txt-cl: #2196f3;
  --description-txt-cl: #757575;
  --btn-txt-cl: white; */

/*bg colors*/
/* --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa; */
/* } */

/*base styles*/
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.btn {
  max-width: 250px;
  min-width: 200px;
  min-height: 50px;
  padding: 9px 31px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
} */

/*reset styles*/
/* a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/**
  |============================
  | Header section
  |============================
*/

/* .header__container {
  display: flex;
  align-items: center;
} */

/* .logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--acent-txt-cl);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* .header__logo {
  margin-right: 93px;
}

.color-1 {
  color: black;
}

.color-2 {
  color: white;
} */

/* .nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 50px;
} */

/* .header__email {
  margin-right: 50px;
} */

/* .nav__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
} */

/* .nav__link--curent {
  color: var(--acent-txt-cl);
  position: relative;
} */

/* .nav__link:hover,
.nav__link:focus,
.header__email:hover,
.header__email:focus,
.header__phone:hover,
.header__phone:focus {
  color: var(--acent-txt-cl);
} */

/* .nav__link--curent::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--acent-txt-cl);
} */

/* .header__email,
.header__phone {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-txt-cl);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
} */

/* .contacts-item {
  fill: currentColor;
  margin-right: 10px;
} */

/**
  |============================
  | Hero section
  |============================
*/

/* .hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--dark-bg-color);
  padding: 200px 452px;
  text-align: center;
  padding: 200px 0px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
} */

/* .main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
} */

/* .hero__btn {
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
} */

/* .hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
} */

/**
  |============================
  | Peculiarities Section
  |============================
*/

/* .peculiarities {
  padding-bottom: 0;
}

.peculiarities__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.peculiarities__background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.section-description {
  font-weight: 400; 
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-txt-cl);
}

/**
  |============================
  | About section
  |============================
*/
/* .about__items {
  display: flex;
  gap: 30px;
} */

/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.section-title {
  margin-bottom: 50px;
} */

/* .about__item {
  position: relative;
} */

/* .img-title-overlay {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
} */

/* .img-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
} */
/**
  |============================
  | Our team section
  |============================
*/

/* .our-team {
  display: flex;
  align-items: center;
  background-color: var(--light-bg-color);
}

.team-members {
  display: flex;
  gap: 30px;
  align-items: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member__position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-txt-cl);
  margin-bottom: 16px;
}

.team-member__card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__info {
  padding-top: 30px;
  padding-bottom: 30px;
} */

/* .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
/* 
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  color: #afb1b8;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: var(--acent-txt-cl);
} */

/**
  |============================
  | Our clients section
  |============================
*/

/* .clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.company-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.company-logo {
  fill: currentColor;
}

.company-link:hover,
.company-link:focus {
  color: var(--acent-txt-cl);
  border-color: var(--acent-txt-cl);
} */

/**
  |============================
  | Footer
  |============================
*/

/* .footer {
  display: flex;
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .footer-container {
  display: flex;
  align-items: baseline;
} */

/* .foter-contacts {
  margin-right: 70px;
  min-width: 231px;
} */

/* .footer-items {
  display: flex;
  flex-direction: column;
  gap: 9px;
} */

/* .logo-footer {
  margin-bottom: 20px;
} */

/* .footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
} */

/* .footer-email,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} */

/* .social-links-title,
.footer-subscription-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
} */

/* .social-icon-footer {
  fill: currentColor;
} */

/* .social-link-footer:hover,
.social-link-footer:focus {
  color: #ffffff;
  background-color: var(--acent-txt-cl);
} */

/* .social-links {
  margin-right: 93px;
} */

/* .footer-subsubscription-form-group {
  display: flex;
  gap: 12px;
}

.footer-subscription-form-input {
  min-width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-form-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--acent-txt-cl);
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  cursor: pointer;
  border: none;

  color: #ffffff;
} */

/**
  |============================
  | Page 2
  |============================
*/

/* .portfolio__header {
  border-bottom: 1px solid #ececec;
} */

/*portfolio section*/

/* .categories-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: white;
  background-color: var(--acent-txt-cl);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* .portfolio-categories {
  display: flex;
  gap: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.portfolio-item {
  flex-basis: calc((100% - 30px * 2) / 3);
} */

/* .portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.porfolio-img-description {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--description-txt-cl);
}

.portfolio-wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  background-color: rgba(33, 149, 243, 0.747);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: white;
  line-height: calc(28 / 18);
} */

/**
  |============================
  | Modal window
  |============================
*/

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-out, visibility 600ms ease-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
  padding-top: 40px;
  padding-right: 41px;
  padding-bottom: 40px;
  padding-left: 39px;
} */

/* .backdrop.is-hidden.modal {
  opacity: 0;
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal-btn-icon {
  width: 11px;
  height: 11px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:hover,
  &:focus {
    fill: var(--acent-txt-cl);
  }
}

.register-form {
  text-align: center;
}

.register-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-lable {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  padding-left: 1px;
}

.register-form-wrap {
  display: block;
  margin-bottom: 10px;
}

.register-form-field {
  position: relative;
}

.register-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-input,
.register-form-message {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  width: 100%;
  outline: transparent;
  padding: 10px;
  padding-left: 50px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.register-form-message {
  resize: none;
  height: 120px;
  padding: 10px;
}

.register-form-input:focus,
.register-form-message:focus {
  border: solid 1px var(--acent-txt-cl);
}

.register-form-input:focus-within + .register-form-icon {
  fill: var(--acent-txt-cl);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin-bottom: 30px;
}

.register-form-agreement-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc (24 / 14);
  letter-spacing: 0.03em;

  color: #757575;
}

.register-icon-uncheck {
  transition: opacity 300ms ease-in-out;
}

.register-icon-check {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}

.register-form-agreement-link {
  text-decoration: underline;
  color: var(--acent-txt-cl);
  text-underline-position: under;
}

.register-form-btn {
  display: inline-block;
  align-items: center;
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--acent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
} */
