.about {
  @extend %section;
}

.about__items {
  @extend %reset-list;
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.img-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.img-title-overlay {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
