.peculiarities {
  @extend %section;
  padding-bottom: 0;
}

.peculiarities__items {
  @extend %reset-list;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.peculiarities__item {
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.peculiarities__background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}

.peculiarities-subtitle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-txt-cl);
  flex-grow: 1;
}
