/**
  |============================
  | Block 1
  |============================
*/

:root {
    /*fonts*/
    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;

    /*text colors*/
    --main-txt-cl: #212121;
    --acent-txt-cl: #2196f3;
    --description-txt-cl: #757575;
    --btn-txt-cl: white;

    /*bg colors*/
    --dark-bg-color: #2f303a;
    --light-bg-color: #f5f4fa;

}